body {
font-family:'Rubik', sans-serif;
font-size: 20px;
color:black
}
h1{ 
color: crimson;
font-weight: 700;
font font-size: 7em;
}
h2{
color: cadetblue;
font font-weight: 400;
}
h3{
color:crimson;
font-weight: 700;
font font-size: 3em;
}
img{
    max-width: 100%;
    width: auto;
    height: auto;
}
.container {
  max-width: 800px;
  margin: auto;
}
