body {
font-family: 'Alef', sans-serif;
font-family: 'Suez One', serif;
}
h1{
font-family: 'Alef', sans-serif; 
font-size: 700;
font-size: 35px;
}
p{
font-family: 'Alef', sans-serif; 
font-size: 400;
font-size: 20px;
}
.about{
background: #fedc56;
}
.container {
max-width: 900px;
margin: auto;
}
img {
max-width: 100%;
width: auto;
height: auto;
}
.about .container {
display: grid;
grid-template-columns: 2fr 1fr;
align-items: center;
}
